streamlit==0.52.2
numpy==1.17.2
Keras==2.3.1
Pillow==6.2.0
tensorflow==2.0.0
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability